In [1]:
import numpy as np
import pandas as pd

In [9]:
books=pd.read_csv('Library_and_dataset_for_projects/Books.csv')
ratings=pd.read_csv('Library_and_dataset_for_projects/Ratings.csv')
users=pd.read_csv('Library_and_dataset_for_projects/Users.csv')

C:\Users\Codenester\AppData\Local\Temp\ipykernel_10012\1196653395.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('Library_and_dataset_for_projects/Books.csv')

## Popularity based filtering

In [10]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [11]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [12]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [13]:
print(users.shape)
print(ratings.shape)
print(books.shape)

(278858, 3)
(1149780, 3)
(271360, 8)

In [14]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [15]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [16]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [18]:
books.duplicated().sum()

0

In [19]:
users.duplicated().sum()

0

In [20]:
ratings.duplicated().sum()

0

In [22]:
ratings_with_name = ratings.merge(books,on='ISBN')

In [34]:
num_ratings = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_ratings.rename(columns={'Book-Rating':'num_rating'},inplace=True)
num_ratings

                                               Book-Title  num_rating
0        A Light in the Storm: The Civil War Diary of ...           4
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Ask Lily (Young Women of Faith: Lily Series, ...           1
4        Beyond IBM: Leadership Marketing and Finance ...           1
...                                                   ...         ...
241066                                      Ãƒ?Ã‚?lpiraten.           2
241067                     Ãƒ?Ã‚?rger mit Produkt X. Roman.           4
241068                                Ãƒ?Ã‚?sterlich leben.           1
241069                              Ãƒ?Ã‚?stlich der Berge.           3
241070                                  Ãƒ?Ã‚?thique en toc           2

[241071 rows x 2 columns]

In [35]:
avg_ratings = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_ratings.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_ratings

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ãƒ?Ã‚?lpiraten.    0.000000
241067                     Ãƒ?Ã‚?rger mit Produkt X. Roman.    5.250000
241068                                Ãƒ?Ã‚?sterlich leben.    7.000000
241069                              Ãƒ?Ã‚?stlich der Berge.    2.666667
241070                                  Ãƒ?Ã‚?thique en toc    4.000000

[241071 rows x 2 columns]

In [38]:
new_rating = num_ratings.merge(avg_ratings,on='Book-Title')
new_rating

,Book-Title,num_rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ãƒ?Ã‚?lpiraten.,2,0.000000
241067,Ãƒ?Ã‚?rger mit Produkt X. Roman.,4,5.250000
241068,Ãƒ?Ã‚?sterlich leben.,1,7.000000
241069,Ãƒ?Ã‚?stlich der Berge.,3,2.666667
241070,Ãƒ?Ã‚?thique en toc,2,4.000000

In [44]:
popularity = new_rating[new_rating['num_rating']>=250].sort_values('avg_rating',ascending=False).head(50)

In [51]:
popularity = popularity.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','num_rating','avg_rating','Publisher','Year-Of-Publication']]

In [144]:
popularity

,Book-Title,Book-Author,num_rating,avg_rating,Publisher,Year-Of-Publication
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,428,5.852804,Scholastic,1999
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,387,5.824289,Scholastic,2000
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,278,5.737410,Scholastic,1998
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,347,5.501441,Scholastic,2003
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,556,5.183453,Scholastic,2000
16,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,281,5.007117,Del Rey,1986
17,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,368,4.948370,Del Rey,1986
26,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,575,4.895652,Arthur A. Levine Books,1999
28,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,260,4.880769,Del Rey,1986
39,To Kill a Mockingbird,Harper Lee,510,4.700000,Little Brown &amp; Company,1988
47,The Da Vinci Code,Dan Brown,898,4.642539,Doubleday,2003
53,The Five People You Meet in Heaven,Mitch Albom,430,4.551163,Hyperion,2003
55,The Catcher in the Rye,J.D. Salinger,449,4.545657,"Little, Brown",1991
62,The Lovely Bones: A Novel,Alice Sebold,1295,4.468726,"Little, Brown",2002
63,1984,George Orwell,284,4.454225,Signet Book,1990
72,Prodigal Summer: A Novel,Barbara Kingsolver,253,4.450593,Perennial,2001
73,Neverwhere,Neil Gaiman,265,4.449057,Avon,1998
78,The Secret Life of Bees,Sue Monk Kidd,774,4.447028,Penguin Books,2003
84,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,283,4.356890,Regan Books,2002
85,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,493,4.354970,Doubleday,1997
88,The Red Tent (Bestselling Backlist),Anita Diamant,723,4.334716,Picador USA,1998
89,The Hitchhiker's Guide to the Galaxy,Douglas Adams,268,4.328358,Pocket,1982
98,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,335,4.289552,Owl Books,2002
100,Into the Wild,Jon Krakauer,252,4.273810,Anchor,1997
103,Fahrenheit 451,Ray Bradbury,409,4.264059,Distribooks Inc,1994
116,Girl with a Pearl Earring,Tracy Chevalier,526,4.218631,Plume Books,2001
117,Outlander,DIANA GABALDON,283,4.173145,Dell,1996
123,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,585,4.105983,Warner Books,1998
124,Seabiscuit: An American Legend,LAURA HILLENBRAND,275,4.098182,Ballantine Books,2002
126,Life of Pi,Yann Martel,664,4.088855,Harcourt,2002
130,The Bean Trees,Barbara Kingsolver,389,4.087404,Perennial,1989
133,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,265,4.086792,Health Communications,1995
135,ANGELA'S ASHES,Frank McCourt,279,4.075269,Scribner,1996
137,Good in Bed,Jennifer Weiner,490,4.055102,Washington Square Press,2002
139,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,321,4.037383,Perennial,2002
140,American Gods,Neil Gaiman,302,4.006623,HarperTorch,2002
141,Skipping Christmas,JOHN GRISHAM,322,4.006211,Doubleday,2001
147,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,318,4.003145,Tyndale House Publishers,1996
149,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,336,4.000000,Knopf Books for Young Readers,2002
157,The Color Purple,Alice Walker,314,3.964968,Pocket Books,1985
163,Silence of the Lambs,Thomas Harris,256,3.960938,St. Martin's Press,1991
166,About a Boy,Nick Hornby,262,3.900763,Riverhead Books,1999
173,Seven Up (A Stephanie Plum Novel),Janet Evanovich,278,3.888489,St. Martin's Press,2001
175,The Alchemist: A Fable About Following Your Dream,Paulo Coelho,266,3.875940,HarperSanFrancisco,1993
177,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,269,3.825279,St. Martin's Paperbacks,2003
182,Suzanne's Diary for Nicholas,James Patterson,457,3.820569,"Little, Brown",2001
186,Lord of the Flies,William Gerald Golding,259,3.818533,Perigee Trade,1959
192,A Prayer for Owen Meany,John Irving,413,3.796610,Ballantine Books,1990
194,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,301,3.777409,Ballantine Books,1986
195,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,356,3.772472,Back Bay Books,2000

## colaborative filtering

In [62]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating']>200
rate_by_user = x[x].index

In [66]:
user_rated= ratings_with_name[ratings_with_name['User-ID'].isin(rate_by_user)]

In [74]:
y = user_rated.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [75]:
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

In [78]:
filtered_book = user_rated[user_rated['Book-Title'].isin(famous_books)]

In [82]:
pt = filtered_book.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [84]:
pt.fillna(0,inplace=True)

In [85]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [86]:
from sklearn.metrics.pairwise import cosine_similarity

In [87]:
similarity_score = cosine_similarity(pt)

In [89]:
similarity_score.shape

(706, 706)

In [97]:
# to find index position
print(np.where(pt.index=='1984')[0][0])
print(np.where(pt.index=='Zoya')[0][0])

0
704

In [140]:
def recomend(book_name):
    index = np.where(pt.index==book_name)[0][0]
    similar_item = sorted(list(enumerate(similarity_score[index])),key=lambda x: x[1],reverse=True)[1:10]
    
    for i in similar_item:
        print(pt.index[i[0]])

In [142]:
recomend('The Notebook')

A Walk to Remember
The Rescue
One Door Away from Heaven
Toxin
The Five People You Meet in Heaven
Nights in Rodanthe
Suzanne's Diary for Nicholas
Everything's Eventual : 14 Dark Tales
The Guardian

In [130]:
sorted(list(enumerate(similarity_score[0])),key=lambda x: x[1],reverse=True)[1:10]

[(47, 0.2702651417103732),
 (545, 0.26396193711234966),
 (82, 0.2366937434740099),
 (634, 0.23299389358170394),
 (551, 0.2262639743141286),
 (181, 0.22222254415660225),
 (500, 0.21057743765309014),
 (344, 0.20675540390454),
 (554, 0.2002506370678305)]